node_modules/
lib/
*.log
.DS_Store
*.tgz
.gradle
build/
.idea
*.iml
.vscode
.cxx
local.properties
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcscmblueprint
*.xccheckout
Pods/

# Coverage files
coverage/
coverage-final.json
lcov.info
.nyc_output/
